

<div class="tomorrow-container">

    <ng-container *ngFor="let item of apiResp">
       <div class="row-container">
          <span class="data1">{{item?.time ?? '--'}}</span>
          <div>
            <span class="data3" *ngIf="item?.sportid ==1">Soccer</span>
            <span class="data3" *ngIf="item?.sportid ==4">Cricket</span>
            <span class="data3" *ngIf="item?.sportid ==2">Tennis</span>
          </div>
          <span class="data2">{{item?.seriesname}}</span>
          <span class="data4">{{item?.matchname}}</span>
         
          
       </div> 
    </ng-container>

</div>

