

<div class="tomorrow-container">

    <ng-container >
    
      <!-- *ngFor="let item of apiResp" -->
       <div class="row-container">
        

        <ng-container *ngIf="cricketArray.length > 0">
         <mat-expansion-panel [expanded]="false" style="width: 100%;">
            <mat-expansion-panel-header>
              <mat-label style="width:200px" (click)="$event.stopPropagation()">Cricket </mat-label>
          </mat-expansion-panel-header>

           <div class="accordian-content" *ngFor="let item of cricketArray">
            <div class="accordian-panel-left">
               status
            </div>
            <div class="accordian-panel-right">
               <!-- <div > -->
                <span class="p">P</span>
                <span class="b">B</span>
                <span class="f">F</span>
                <span class="sky-box">b</span>
                <span class="light-pink-box">j</span>
                <span class="sky-box">b</span>
                <span class="light-pink-box">j</span>
                <span class="sky-box">b</span>
                <span class="light-pink-box">j</span>
               <!-- </div> -->
            </div>
           </div>
           
        
           
          </mat-expansion-panel>
        </ng-container>

        <ng-container *ngIf="tennisArray.length > 0">
         <mat-expansion-panel [expanded]="false">
            <mat-expansion-panel-header>
              <mat-label style="width:200px" (click)="$event.stopPropagation()">Tennis </mat-label>
          </mat-expansion-panel-header>

           <div class="accordian-content" >
            <div class="accordian-panel-left">
               status
            </div>
            <div class="accordian-panel-right">
               <!-- <div > -->
                <span class="p">P</span>
                <span class="b">B</span>
                <span class="f">F</span>
                <span class="sky-box">b</span>
                <span class="light-pink-box">j</span>
                <span class="sky-box">b</span>
                <span class="light-pink-box">j</span>
                <span class="sky-box">b</span>
                <span class="light-pink-box">j</span>
               <!-- </div> -->
            </div>
           </div>
           
        
           
          </mat-expansion-panel>
        </ng-container>

        <ng-container *ngIf="sockerArray.length > 0">
         <mat-expansion-panel [expanded]="false">
            <mat-expansion-panel-header>
              <mat-label style="width:200px" (click)="$event.stopPropagation()">Soccer </mat-label>
          </mat-expansion-panel-header>

           <div class="accordian-content">
            <div class="accordian-panel-left">
               status
            </div>
            <div class="accordian-panel-right">
               <!-- <div > -->
                <span class="p">P</span>
                <span class="b">B</span>
                <span class="f">F</span>
                <span class="sky-box">b</span>
                <span class="light-pink-box">j</span>
                <span class="sky-box">b</span>
                <span class="light-pink-box">j</span>
                <span class="sky-box">b</span>
                <span class="light-pink-box">j</span>
               <!-- </div> -->
            </div>
           </div>
           
        
           
          </mat-expansion-panel>
        </ng-container>
         
          
       </div> 
    </ng-container>

</div>

